:root{
  --color-paper: #F8F2E7;
  --color-ink: #242423;
  --color-blue: #2B7FFB;
  --color-orange: #F1A108;
  --color-red: #E55539;
  --color-green: #1BAB72;
  --color-purple: #9864DD;
  --color-gray: #757B81;
  --color-yellow-note: #F6D982;
  --color-tape: #D7BA73;
  --color-tab-orange: #EAA65E;
  --color-tab-yellow: #EEDC8D;
  --color-tab-green: #A9C786;
  --color-tab-blue: #8FC4E8;
  --color-tab-purple: #C59AE6;
}
